# --- JAVA & COMPILACIÓN ---
*.class
*.log
*.jar
*.war
bin/
build/
dist/

# --- ECLIPSE ---
.metadata/
.recommenders/
.settings/
.project
.classpath
.loadpath

# --- NETBEANS ---
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db

# --- ARCHIVOS TEMPORALES ---
*.tmp
*.bak
*.swp
